# Ignore the virtual environment folder
.venv/
.DS_Store
# Ignore Python's cache directory
__pycache__/

# Ignore user-specific IDE files
.idea/
.vscode/

# Ignore sensitive files
credentials.ini
*.env

# Python build artifacts
*.egg-info/
/sample_source_data/
/data/
/generated_content_ids.json
